<div class="d-flex flex-column p-3" style="width: 78vw; height: 70px;">
    <div class="d-flex flex-row links justify-content-between mb-3" style="width: 300px">
        <!-- links -->
        <a href="#"> Inicio </a>
        <a> / </a>
        <a href="index.html"> Contratos </a>
        <a> / </a>
        <a> Cadastrar</a>
      </div>

      <div class="d-flex flex-column" style="width: 100%;">
          
        <div class="card">
          <div class="card-header">
            Cadastro de contato
        </div>
        <!-- tabs -->
        
      </div>

    </div>

    <!-- tables -->
    
    <div class="p-3">
        <ul class="nav nav-tabs mt-1 mb-2">
            <li class="nav-item">
              <a class="nav-link text-primary" aria-current="page" [routerLink]="['/registros']">Geral</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn text-primary" [routerLink]="['/registros', 'itens']">Itens</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn active" [routerLink]="['/registros', 'projetos']">Projetos</a>
            </li>
          </ul>
        <div class="card-header">
            <h5>Projetos</h5>
        </div>
        <table class="table">
            <thead>
              <tr class="border">
                <th scope="col">#</th>
                <th scope="col">Projeto</th>
                <th scope="col">Valor total</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Projeto</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
        <p>Total</p>
    </div>
    

</div>